:root {
    --fontHeading: 'PT Sans', sans-serif;
    --fontParagraph: 'Open Sans', sans-serif;

    --primary: #784D3C;
    --white: #FFFFFF;
    --black: #000000;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--fontParagraph);
    font-family: 1.6rem;
    line-height: 2;
}

/* ------Global------- */
